<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @quote.company_name %>
</p>

<p>
  <b>Company description:</b>
  <%= @quote.company_description %>
</p>

<p>
  <b>Contact name:</b>
  <%= @quote.contact_name %>
</p>

<p>
  <b>Contact email:</b>
  <%= @quote.contact_email %>
</p>

<p>
  <b>Contact phone:</b>
  <%= @quote.contact_phone %>
</p>

<p>
  <b>Contact address:</b>
  <%= @quote.contact_address %>
</p>

<p>
  <b>Contact city:</b>
  <%= @quote.contact_city %>
</p>

<p>
  <b>Contact state:</b>
  <%= @quote.contact_state %>
</p>

<p>
  <b>Contact zip:</b>
  <%= @quote.contact_zip %>
</p>

<p>
  <b>Contact country:</b>
  <%= @quote.contact_country %>
</p>

<p>
  <b>Request for proposal:</b>
  <%= @quote.request_for_proposal %>
</p>

<p>
  <b>Branding:</b>
  <%= @quote.branding %>
</p>

<p>
  <b>Content development:</b>
  <%= @quote.content_development %>
</p>

<p>
  <b>Logos identity:</b>
  <%= @quote.logos_identity %>
</p>

<p>
  <b>Print ad campaign:</b>
  <%= @quote.print_ad_campaign %>
</p>

<p>
  <b>Direct mail campaign:</b>
  <%= @quote.direct_mail_campaign %>
</p>

<p>
  <b>Project budget:</b>
  <%= @quote.project_budget %>
</p>

<p>
  <b>Project timeline:</b>
  <%= @quote.project_timeline %>
</p>


<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
